sswprinting_usa_2016_8/app/code/local/Pixopa/Checkout/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderItemEntity">
               <all>
                    <element name="template_code" type="xsd:string" minOccurs="0" />
                    <element name="design_thumbnail" type="xsd:string" minOccurs="0" />
                    <element name="design_pdf_url" type="xsd:string" minOccurs="0" />
                    <element name="design_edit_url" type="xsd:string" minOccurs="0" />
                    <element name="uploaded_files" type="xsd:string" minOccurs="0" />
               </all>
            </complexType>
        </schema>
    </types>
</definitions>