sswprinting_usa_2016_8/app/code/local/Pixopa/Checkout/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderItemEntity">
                <xsd:sequence>
                    <xsd:element name="template_code" type="xsd:string" minOccurs="0" />
                    <xsd:element name="design_thumbnail" type="xsd:string" minOccurs="0" />
                    <xsd:element name="design_pdf_url" type="xsd:string" minOccurs="0" />
                    <xsd:element name="design_edit_url" type="xsd:string" minOccurs="0" />
                    <xsd:element name="uploaded_files" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
              </xsd:complexType>
         </xsd:schema>
    </wsdl:types>
</wsdl:definitions>